<!doctype html>

<head>
  <title>Tetris Online | Scores</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/game.css" />
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
  <script src="/javascripts/leaderboard.js"></script>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
</head>

<body ng-app='leaderboard' ng-controller='leaderboardController'>
  <a id="chatLink" href='/chat'><button>Chat</button></a>
  <a id="chatLink" href='/'><button>Play Tetris</button></a>
  <a id="editLink" href="/user"><button>Edit User</button></a>
  <a id="logoutLink" href="/logout"><button>Logout</button></a>
  <h1>High Scores</h1>
  
  
</body>

</html>